@{
}

<body class="fixed-left">

    <div id="wrapper">

        <!-- ========== Top Bar Start ========== -->
        <partial name="~/Views/Shared/_TopBar.cshtml" />
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <partial name="~/Views/Shared/_LeftSideBar.cshtml" />
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page" style="padding-top:50px;">
            <!-- Start content -->
            <div class="content">
                <div class="container ">
                    <script>
                        @ViewBag.ArrayContas
                    </script>
                    <div class="row m-t-50 panel">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="jumbotron" style="padding: 20px">
                                <h3><i class="ti-shopping-cart"></i> Basic card</h3>
                            </div>
                            <div class="bg-primary jumbotron" style="padding: 20px">
                                <div class="card-body"><h3><i class="ti-heart"></i> Primary card</h3></div>
                            </div>
                            <div class="bg-success jumbotron" style="padding: 20px">
                               <h3><i class="ti-car"></i> Success card</h3>
                            </div>
                            <div class=" bg-info jumbotron" style="padding: 20px">
                                <h3><i class="ti-ticket"></i> Info card</h3>
                            </div>
                            <div class=" bg-warning jumbotron" style="padding: 20px">
                                <h3><i class="ti-gift"></i> Warning card</h3>
                            </div>
                            <div class=" bg-danger jumbotron" style="padding: 20px">
                                <h3><i class="ti-credit-card"></i> Danger card</h3>
                            </div>
                            <div class=" bg-secondary jumbotron" style="padding: 20px">
                                <div class="">Secondary card</div>
                            </div>
                            <div class=" bg-dark jumbotron" style="padding: 20px">
                                <div class="">Dark card</div>
                            </div>
                            <div class=" bg-light jumbotron" style="padding: 20px">
                                <div class="">Light card</div>
                            </div>
                        </div>
                        @foreach (ContaModel conta in ViewBag.Contas)
                        {
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <h3 class="card-title">Conta usuario: @conta.Usuario.Nome</h3>
                                <h4 class="card-subtitle mb-2 text-muted">Dados da conta: @conta.NumeroConta</h4>
                                <canvas id="chart2_@conta.NumeroConta" width="400" height="400"></canvas>
                            </div>

                            <script>
                                
                                var ctx2 = document.getElementById("chart2_@conta.NumeroConta").getContext('2d');
                                var myChart = new Chart(ctx2, {
                                    type: 'doughnut',
                                    data: {
                                        labels: arrayLabel_@conta.NumeroConta,
                                        datasets: [{
                                            label: 'Balanco',
                                            data: arrayValorConta_@conta.NumeroConta,
                                            backgroundColor: arrayColor_@conta.NumeroConta,
                                            borderColor: arrayBorderColor_@conta.NumeroConta,
                                            borderWidth: 1
                                        }]
                                    }
                                });
                                
                            </script>
                        }
                    </div> <!-- end row -->
                </div> <!-- end container -->

            </div> <!-- content -->

        </div>
        <!--Right Sidebar End -->

    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <!--
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
        -->
    <script src="~/js/detect.js"></script>
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/plugins/switchery/switchery.min.js"></script>

    <script type="text/javascript" src="~/plugins/parsleyjs/parsley.min.js"></script>

    <!-- App js -->
    <script src="~/js/jquery.core.js"></script>
    <script src="~/js/jquery.app.js"></script>

    <script>
        $('#btn-add-user').click(event => {
            event.preventDefault();
            console.log('clicou');
        });
    </script>

</body>
