
<div class="left side-menu" style="padding-top:50px;">
    <div class="sidebar-inner slimscrollleft">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Navegação</li>

                <li class="has_sub">
                    <a href="/Cliente/Dashboard/@ViewBag.Usuario.ID" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span> </a>
                </li>

                <li class="has_sub">
                    <a href="/Cliente/Relatorio/@ViewBag.Usuario.ID" class="waves-effect"><i class="mdi mdi-clipboard-text"></i> <span> Relatorios </span></a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-file-chart"></i><span> Cadastro </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/Cliente/CadastrarBalanco/@ViewBag.Usuario.ID">Balanco</a></li>
                        <li><a href="/#">Tipo</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->


    </div>
    <!-- Sidebar -left -->

</div>