@{
    ViewData["Title"] = "About";
}

<div class="parallax">
    <div class="container body-content">
        <h2>@ViewData["Title"]</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit unde dignissimos, culpa eligendi dolor harum iste odit aut autem non quo illo corrupti quidem necessitatibus maiores, quisquam iusto nostrum. Quos.</p>
    </div>
</div>
<h1>lorem</h1>
<p>Corrupti ipsum culpa placeat, incidunt eius praesentium dolores ex ut perspiciatis! Voluptatem harum expedita aliquam veniam a, ducimus consequatur enim ratione provident eaque eos quis? Eum odit laudantium in nesciunt?</p>
<p>Expedita ipsa reiciendis beatae animi explicabo placeat delectus rem porro numquam corporis? Iusto culpa quo officiis ex distinctio iste recusandae libero earum perferendis, labore obcaecati officia itaque repellendus nemo id.</p>
<p>Quibusdam, officiis et nesciunt cumque ullam impedit, autem iure consequuntur atque laudantium, doloribus deleniti saepe amet sunt id. Ratione facere voluptatum et quia voluptatem velit totam earum tenetur vitae aliquam.</p>
<p>Cupiditate inventore hic deleniti possimus iure aut officiis impedit minima eveniet odit omnis, numquam consequuntur, soluta velit, iusto ullam dignissimos culpa fugit. Quae, totam ea debitis vel eius sed pariatur!</p>
<p>Ab neque dicta dolore nulla expedita minus, quis soluta, quo quaerat ut velit porro nisi sapiente sed, dignissimos eos dolorem maxime qui rem? Quas illum voluptatibus blanditiis vero temporibus nulla!</p>
<p>Aperiam sit amet est eius accusamus rerum iusto exercitationem ipsa dicta nam, tenetur eligendi repudiandae ipsam optio officia sequi quam facere sed nostrum voluptatem quaerat deleniti reiciendis itaque ab. Nam!</p>
<p>Deserunt dignissimos voluptatem provident repudiandae vitae saepe recusandae nisi, dolores quasi vero quae totam ad exercitationem sint rem corporis placeat officiis. Magni minus soluta exercitationem cumque dignissimos officiis magnam aliquid.</p>
<p>Deserunt impedit debitis quia aliquid animi quo totam officia rem ducimus! Amet maxime quibusdam expedita facere id placeat, possimus deserunt iusto obcaecati aliquid fugiat et molestias at beatae repudiandae culpa.</p>
<p>Saepe iusto eaque nobis consequuntur, sit nostrum earum et aperiam expedita possimus mollitia animi accusamus obcaecati natus nesciunt architecto maiores tenetur itaque necessitatibus ea minima atque libero. Esse, expedita fuga?</p>
