@{
    ViewData["Title"] = "Contact";
}

<div class="container body-content">
    <h1>Contact</h1>
    <table id="customers">
        <tr>
            <td><h2>Nome</h2></td>
            <td><h2>RA</h2></td>
            <td><h2>Email</h2></td>
        </tr>
        <tr>
            <td><h4>Edson K. Yamamoto</h4></td>
            <td><h4>081368</h4></td>
            <td><h4>edsonkazayamamoto@gmail.com</h4></td>
        </tr>
        <tr>
            <td><h4>Pricila Pires Lopes</h4></td>
            <td><h4>160041</h4></td>
            <td><h4>priscilapl.ppl@gmail.com</h4></td>
        </tr>
        <tr>
            <td><h4>Vanessa S. Vieira Menino</h4></td>
            <td><h4>157094</h4></td>
            <td><h4>vanessasvmenino@gmail.com</h4></td>
        </tr>
        <tr>
            <td><h4>Eloá Camillo</h4></td>
            <td><h4>150700</h4></td>
            <td><h4>eloacamillo7@gmail.com</h4></td>
        </tr>
    </table>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>