

<div class="parallax">
    <div class="row text-center">
        <div class="col">
            <div style=" background-color: ghostwhite;
    padding: 25px;
    margin: 100px;
    border-radius: 25px;">
                <h1><strong>Owl money</strong></h1>
                <h1><strong>Um novo jeito de investir</strong></h1>
                <h3><strong>Carteira virtual online</strong></h3>
                <p>Existe uma maneira melhor de investir, descubra conosco.</p>
            </div>
        </div>
    </div>
</div>

<div class="container body-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how to build ASP.NET apps that can run anywhere.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        There are powerful new features in Visual Studio for building modern web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="parallax">
    </div>

    <h1>Não te deixa ter aquela dúvida sobre para onde o dinheiro foi no fim do mês</h1>
    <p>Não é incomum chegar ao final do mês quase no vermelho e não ter a mínima ideia de onde o dinheiro foi parar. Esta dúvida deixa de existir quando o controle de finanças pessoais passa a fazer parte da rotina. Ao anotar todos os gastos e, principalmente, ao categorizá-los, você passa a acompanhar exatamente como seu dinheiro está sendo gasto. Isso ajuda a colocar o pé no freio caso esteja com despesas em excesso em determinada categoria que não é essencial (como lazer, bares e restaurantes etc.) e, ao longo do tempo, se for preciso, mudar sua forma de consumir.</p>
    <br />
    <h1>Ajuda a cortar gastos desnecessários</h1>
    <p>A maioria das pessoas sabe que tem vários gastos desnecessários no dia a dia, mas muitas delas não sabem exatamente quais são eles. Com o controle de finanças pessoais fica mais identificar as despesas que não são essenciais para se manter e/ou estão sendo feitas em excesso e podem ser cortadas. Da academia que você nunca vai às taxas desconhecidas cobradas na conta corrente e no cartão de crédito, passando pelos gastos que você nem sabe porque fez: em grande parte do orçamento pessoal há potencial de economia e corte de despesas.</p>
    <br/>   
    <h1>Evita juros e dívidas</h1>
    <p>Um dos maiores vilões das finanças saudáveis são os juros. Alguns são mais altos e problemáticos, como os cobrados quando você paga apenas o mínimo do cartão de crédito ou usa o cheque especial. Outros, mais baixos, como os do atraso da conta de luz ou do IPTU. No entanto, independentemente de onde venham os juros, com o controle das finanças pessoais e gerenciamento eficaz do dinheiro, você aprende a evitá-los e equilibrar sua conta corrente. Ao manter suas finanças sob controle é possível também evitar as dívidas, já que você passa a saber quanto ganha, quanto gasta e o máximo que pode reservar para cada despesa.</p>
    
    <div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>
</div>