@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="btn btn-primary" href="/Teste/DinamicVariable">DinamicVariable</a>
<a class="btn btn-danger" href="/Teste/Repository">Repository</a>
<a class="btn btn-default" href="/Teste/ChartJS">ChartJS</a>
<a class="btn btn-info" href="/Teste/Parallax">Parallax</a>

<p>
    @ViewBag.String
</p>
<p>
    @ViewBag.Int
</p>
<p>
    @ViewBag.Float
</p>
<p>
    @ViewBag.Boolean
</p>

